html,
body {
  margin: 0;
  padding: 5;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#map {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

#map svg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#map svg circle,
.legend > div {
  --color-departures: steelblue;
  --color-arrivals: darkorange;
  --color: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
  );
}

#map svg circle {
  fill: var(--color);
  fill-opacity: 0.8;
  stroke: white;
  stroke-width: 1;
  pointer-events: auto;
}

header {
  display: flex;
  align-items: baseline;
  gap: 1em;
}

label {
  margin-left: auto;
  display: grid;
  grid-template-columns: auto 22em;
  column-gap: 0.5em;
  align-items: center;
}

#time-slider {
  width: 22em;
}

time,
em#any-time {
  grid-column: 2;
  justify-self: end;
  display: block;
}

em#any-time {
  color: #888;
  font-style: italic;
}

.legend {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2em;
  margin-block: 1em;
  font-size: 0.85em;
}

.legend::before {
  content: 'LEGEND:';
  color: #888;
  font-weight: bold;
}

.legend > div {
  display: flex;
  align-items: center;
  gap: 0.4em;
  color: black;
  font-weight: normal;
  padding: 0;
  background: none;
}

.legend > div::before {
  content: '';
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: var(--color);
}